body{
    background-color: aquamarine;
}


.cuadrado{
    width:  200px;
    height: 200px;
    margin-bottom: 20px;
}

#cuadrado1{
    background-color: #FF0000;

}

#cuadrado2{
    background-color: #FF0033;
  
}

#cuadrado3{
    background-color: #FF0066;


}

#cuadrado4{
    background-color: #FF0099;


}

#cuadrado5{
    background-color: #FF00CC;


}

#cuadrado6{
    background-color: #FF00FF;


}

footer{
    background-color: cadetblue ;
    height: 50px;
    text-align: center;
}
